* {
    font-family: 'Merriweather', serif;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    background-color:#4C4C58;
    color:white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin: auto;
}

.signup {
    text-align: center;
    border-bottom: double black 6px;
    font-size: 0.8em;
}

.signup p {
    font-size: 0.6em;
    color: gray;
}

label {
    color:gray;
}

input {
    background-color: #e6e6e6;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;
    
}

select {
    height: 40px;
    width: 100%;
    background-color: #e6e6e6;
    border: none;
    margin-bottom: 20px;
}

legend {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.contact {
    border: none;
    border-bottom: black 2px solid;
    align-content: center;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

.contact input {
    margin-bottom: 20px;
}

.newsletter {
    border: none;
    margin-top: 10px 0px;
}


textarea {
    width: 100%;
    height: 100px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 2px;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #52bab3;
    color: white;
    border-radius: 2px;
    margin: 10px;
    text-align: center;
}

footer {
    font-style: italic;
    text-align: center;
    color: gray;
    margin-top: 20px;
}